:root {
    /* font family */
    --Didact_Gothic: 'Didact Gothic', sans-serif;


    /* color pallets */
    /* black is black but im not gonna use this */
    --Nero: #171717;
    /* #1c1c1c hmmmmm */
    --Eclipse: #404040;
    --Gray: #7f7f7f;
    --Silver: #bfbfbf;
    /* white is white */
    --Mlachite: #00d062;
    --dark_red: #990000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
    im not gonna use this part
*/
.container{
    height: 100vh;
    width: 100%;

    padding: 5% 15%;
}
.container:first-child{
    /* display: grid;
    grid-template-columns: repeat(10, minmax(0,1fr));
    gap: 5%; */
    
}
.container:first-child .boxes{
    /* width: 100%;
    height: 100%;
    background-color: var(--Gray);
    --tw-shadow-color: #000; */
    /* border-radius: 50%;     */
}

/* this part is for the navigation */
.nav{
    top: 0%;
    width: 100%;
    height: 50px;
    position: absolute;
}
.nav .side{
    display: flex;
}
.nav .side .switch{
    display: flex;
    /* position: absolute; */
}
.nav .side .switch .switcher{
    position: absolute;
}
/* 
background
*/
.background{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.background .pic1{
    position: absolute;
    width: 120%;
    height: 240%;
    left: -120px;
    /* object-fit: cover; */
    transform: rotate(20deg);
}
.background .pic2{
    position: absolute;
    width: 120%;
    height: 240%;
    
    transform: rotate(-20deg);
}

/* 
    header part
*/
.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    mix-blend-mode: difference;
    /* background-color: white; */
}
.container .box{
    width: 500px;
    height: 500px;
    padding-top: 250px;
    /* background: white; */
    /* justify-content: center; */
    /* text-align: center; */
    isolation: isolate;
}
.container .box h1{
    font-size: 70px;    
    font-family: var(--Didact_Gothic);
    transition: all 0.3s ease;
}
.container .box h2{
    font-size: 50px;
    font-family: var(--Didact_Gothic);
}
.container .box h1, 
.container .box h2{
    transition: all 0.3s ease;
    /* isolation: isolate; */
    /* mix-blend-mode: difference; */
    /* color: blue; */
    z-index: 10;
}
.container .box span{
    display: inline-block;
    pointer-events: none;
    transition: transform 0.1s linear;
    color: var(--Nero);
    /* mix-blend-mode: difference; */
}
.container .box .cursor{
    pointer-events:  none;
    position: fixed;
    padding: 0.3rem;
    background-color: var(--Nero);
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
}
.hover:hover ~ .cursor{
    transform: translate(-50%, -50%) scale(8);
}