<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blabla</title>
    <link rel="stylesheet" href="./design/home.css">
</head>

<body>
    <section>
        <nav id="swup" class="qwe">
            <a href="./placeholder.html">placeholder</a>
            <a href="./home.html">home</a>
        </nav>
        <h1 id="swup" class="qwe">blabla</h1>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swup/4.3.3/Swup.umd.js"></script>
    <script src="./scripts/home.js"></script>
</body>

</html>